@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  width: 100%;
}

body {
  min-height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
}


.container__result {
  padding: 1.5rem 3.5625rem 2.5rem 3.625rem;
  text-align: center;
  background-image: linear-gradient(to bottom, #7755FF, #2F2CE9);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;

}

.container__result h1 {
  font-size: 1.125rem;
  color: #CAC9FF;
  margin-bottom: 1.5rem;

}

.container__points {
  background-image: linear-gradient(to bottom, rgba(77, 33, 201), 
                                               rgba(37, 33, 201, .0));
  border-radius: 50%;
  max-width: 8.75rem;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.container__points p {
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-weight: 800;
}

.container__points span {
  font-size: initial;
  color: #CAC9FF;
  font-weight: 400;
  opacity: 0.5;
}

.container__result h2 {
  font-size: 1.5rem;
  color: #FFF;
  margin-bottom: 0.5rem;
}

.container__result .paragraph {
  color: #CAC9FF;
}

.container__summary-wrapper {
  padding: 1.5rem 1.875rem 1.875rem 1.875rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.container__summary-wrapper h2 {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  color: #303B59;
}

.container__summary-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container__summary-wrapper li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 16px 18px 16px;
  border-radius: 0.75rem;
}

.container__summary-wrapper img {
  width: initial;
}

.container__summary-wrapper span {
  opacity: 0.5;
}

.label {
  font-weight: 500;
  display: flex;
  gap: 12px;
}

.container__reaction {
  background: 
    linear-gradient(rgba(255, 255, 255, 0.95),rgba(255, 255, 255, 0.95)),
    linear-gradient(#FF5555,#FF5555);
}

.container__memory {
  background: 
    linear-gradient(rgba(255, 255, 255, 0.95),rgba(255, 255, 255, 0.95)),
    linear-gradient(#FFB21E,#FFB21E);
}

.container__verbal {
  background: 
    linear-gradient(rgba(255, 255, 255, 0.95),rgba(255, 255, 255, 0.95)),
    linear-gradient(#00BB8F,#00BB8F);
}

.container__visual {
  background:
  linear-gradient(rgba(255, 255, 255, 0.95),rgba(255, 255, 255, 0.95)),
  linear-gradient(#1125D6, #1125D6);
  margin-bottom: 1.5rem;
}

.container__reaction .label {
  color: #FF5555;
}

.container__memory .label {
  color: #FFB21E;

}

.container__verbal .label {
  color: #00BB8F;
}

.container__visual .label {
  color: #1125D6;
}

.container__summary-wrapper a {
  display: inline-block;
  align-self: center;
  background: #303B59;
  font-size: 1.125rem;
  padding: 1.0625rem 7.5rem;
  text-align: center;
  color: #FFF;
  border-radius: 128px;
}

@media (min-width: 800px) {

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ECF2FF;
  
  }

  .container {
    max-width: 46rem;
    display: flex;
    background: #FFF;
    border-radius: 32px;
    box-shadow: 0 30px 60px 0 rgba(61, 108, 236, .2);
  }

  .container__result {
    border-radius: 32px;
    padding: 2.375rem 3.375rem 2.875rem 3.375rem;
  }

  .container__result h1 {
    font-size: 1.5rem;
    margin-bottom: 2.1875rem;
  }

  .container__points {
    max-width: 12.5rem;
    margin-bottom: 1.75rem;
  }

  .container__points p {
    font-size: 72px;
  }

  .container__points span {
    font-size: 18px;
  }

  .container__result h2 {
    margin-bottom: 14px;
    font-size: 2rem;
  }

  .container__result .paragraph {
    font-size: 1.125rem;
  }

  .container__summary-wrapper {
    padding: 2.375rem 2.5rem 2.875rem 2.5rem;
  }

  .label {
    font-size: 18px;
  }
  
  .container__summary-wrapper h2 {
    font-size: 24px;
  }

  .container__visual {
    margin-bottom: 2.5625rem;
  }

  .container__summary-wrapper a {
    padding: 1.0625rem 6.6875rem 1rem 6.625rem;
  }

  .container__summary-wrapper a:hover {
    background: linear-gradient(to bottom, #6943FF, #2F2CE9)
  }

}

